<head>
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Eli - Développeur Web | TITRE</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="elilogo" />
	<link rel="apple-touch-icon" sizes="180x180" href="favicon-apple-touch" />
	<link rel="icon" type="image/png" sizes="32x32" href="favicon32" />
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="favicon/favicon-16x16.png"
	/>
	<!-- <link rel="manifest" href="webmanifest" /> -->
	<!-- Custom Google font-->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet"
	/>

	<!-- pour 404 JS -->

	<link
		href="https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption"
		rel="stylesheet"
		type="text/css"
	/>

	<link rel="stylesheet" href="css/404.css" />
	<!-- Bootstrap icons-->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
		rel="stylesheet"
	/>
	<!-- Bootstrap CSS -->
	<link
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		rel="stylesheet"
	/>

	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css/styles.css" rel="stylesheet" />
	<link href="css/styles-perso.css" rel="stylesheet" />
	<link href="css/transition.css" rel="stylesheet" />
</head>
