<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>

	<body class="d-flex flex-column">
		<main class="flex-shrink-0">
			<!-- Navigation-->
			<%- include('../partials/nav.ejs') %>

			<!-- Page content-->
			<section class="py-5">
				<div class="container px-5">
					<!-- Contact form-->
					<div class="bg-light rounded-4 py-5 px-4 px-md-5">
						<div class="text-center mb-5">
							<div
								class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"
							>
								<i class="bi bi-envelope"></i>
							</div>
							<h1 class="fw-bolder">Contactez-moi</h1>
							<p class="lead fw-normal text-muted mb-0">
								et travaillons ensemble
							</p>
						</div>
						<div class="row gx-5 justify-content-center">
							<div class="col-lg-8 col-xl-6">
								<!-- to get an API token!-->
								<form id="contactForm" method="post">
									<div class="form-floating mb-3">
										<input
											class="form-control"
											id="nom"
											type="text"
											placeholder="nom"
											data-sb-validations="required"
										/>
										<label for="nom">nom</label>
										<div
											class="invalid-feedback"
											data-sb-feedback="nom:required"
										>
											votre nom doit être
											renseigné
										</div>
									</div>
									<div class="form-floating mb-3">
										<input
											class="form-control"
											id="prenom"
											type="text"
											placeholder="prénom"
											data-sb-validations="required"
										/>
										<label for="prenom"
											>prénom</label
										>
										<div
											class="invalid-feedback"
											data-sb-feedback="prenom:required"
										>
											votre prénom doit être
											renseigné
										</div>
									</div>
									<div class="form-floating mb-3">
										<input
											class="form-control"
											id="email"
											type="email"
											placeholder="Email"
											data-sb-validations="required,email"
										/>
										<label for="email"
											>Email</label
										>
										<div
											class="invalid-feedback"
											data-sb-feedback="email:required"
										>
											votre Email doit être
											renseigné
										</div>
										<div
											class="invalid-feedback"
											data-sb-feedback="email:email"
										>
											Email invalide
										</div>
									</div>
									<div class="form-floating mb-3">
										<input
											class="form-control"
											id="telMobile"
											type="text"
											placeholder="tél. mobile"
											data-sb-validations="required"
										/>
										<label for="telMobile"
											>tél. mobile</label
										>
										<div
											class="invalid-feedback"
											data-sb-feedback="telMobile:required"
										>
											numéro de téléphone
											doitêtre renseigné
										</div>
									</div>
									<div class="form-floating mb-3">
										<textarea
											class="form-control"
											id="votreMessage"
											type="text"
											placeholder="votre message"
											style="height: 10rem"
											data-sb-validations="required"
										></textarea>
										<label for="votreMessage"
											>votre message</label
										>
										<div
											class="invalid-feedback"
											data-sb-feedback="votreMessage:required"
										>
											votre message doit être
											renseigné
										</div>
									</div>
									<!--<div
										class="d-none"
										id="submitSuccessMessage"
									>
										<div class="text-center mb-3">
											<div class="fw-bolder">
												Form submission
												successful!
											</div>
											<p>
												To activate this
												form, sign up at
											</p>
											<a
												href="https://startbootstrap.com/solution/contact-forms"
												>https://startbootstrap.com/solution/contact-forms</a
											>
										</div>
									</div>-->
									<!--<div
										class="d-none"
										id="submitErrorMessage"
									>
										<div
											class="text-center text-danger mb-3"
										>
											Error sending message!
										</div>
									</div>-->
									<div class="d-grid">
										<button
											class="btn btn-primary btn-lg"
											id="submitButton"
											type="submit"
										>
											Submit
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Footer-->
		<%- include('../partials/footer.ejs') %>

		<!-- Bootstrap core JS-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<!-- Core theme JS-->
		<script src="js/scripts.js"></script>
		<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
		<!-- * *                               SB Forms JS                               * *-->
		<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
		<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
		<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
		<script src="/js/transition.js"></script>
	</body>
</html>
